body
{
    background-color: rgb(240,241,249);
    background-image: url("background.jpg");
    background-position: center;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
}
h3{
    font-family: 'Rubik', sans-serif;
}
.pre{
    color: rgb(49,79,254)
}
.after{
    color:rgb(26,35,126)
}
h3.description
{
    font-family: 'Rubik', sans-serif;
    color:rgb(104, 180, 206)
}
.polowa1
{
    float: left;
    margin-left: 100px;
    margin-top : 50px;
    padding-top: 100px;
    width: 600px;
}
.polowa2
{
    margin-top: 50px;
    background-color: rgb(242,244,251);
    float: left;
}
.action{
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
    border: none;
    background-color: rgb(245, 178, 8);
    color:white
}