h1{
    font-family: 'Roboto', sans-serif;
}
h3{
    font-family: 'Rubik', sans-serif;
}
.pre{
    color:cornflowerblue
}
.polowa1
{
    margin-left: 50px;
    margin-top : 50px;
}
.polowa2
{
    margin-top: 50px;
}